@import "tailwindcss";

:root {

  --ui-placeholder: #70826B;
  --ui-input: #F2F5F2;

  --accent: #8CD178;
  --on-accent: #fff;

	--olive-1: hsl(120, 20%, 99%);
	--olive-2: hsl(120, 17%, 98%);
	--olive-3: hsl(120, 7%, 94%);
	--olive-4: hsl(120, 4%, 91%);
	--olive-5: hsl(120, 5%, 88%);
	--olive-6: hsl(120, 4%, 85%);
	--olive-7: hsl(120, 3%, 81%);
	--olive-8: hsl(105, 3%, 73%);
	--olive-9: hsl(103, 3%, 54%);
	--olive-10: hsl(103, 3%, 50%);
	--olive-11: hsl(110, 3%, 38%);
	--olive-12: hsl(108, 8%, 12%);

  --background: #ffffff;
  /* --foreground: #121712; */
  --foreground: var(--olive-12);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ui-placeholder: var(--ui-placeholder);
  --color-ui-input: var(--ui-input);

  --color-accent: var(--accent);
  --color-on-accent: var(--on-accent);

  --color-olive-1: var(--olive-1);
  --color-olive-2: var(--olive-2);
  --color-olive-3: var(--olive-3);
  --color-olive-4: var(--olive-4);
  --color-olive-5: var(--olive-5);
  --color-olive-6: var(--olive-6);
  --color-olive-7: var(--olive-7);
  --color-olive-8: var(--olive-8);
  --color-olive-9: var(--olive-9);
  --color-olive-10: var(--olive-10);
  --color-olive-11: var(--olive-11);
  --color-olive-12: var(--olive-12);

  --font-inter: var(--font-inter);
}

html, body {
  @apply font-inter bg-olive-1 text-foreground grid min-h-svh;
}
